@model X.PagedList.IPagedList<EstimativaColheita.Models.TalhaoModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Talhões";
}

<div class="card">
    <div class="header-card">
        &nbsp;&nbsp;Lista de talhões
    </div>
    <div class="body-card">
        <a class="btn btn-orange btn-sm" asp-action="CreateOrEdit"><i class="fa-solid fa-plus"></i>&nbsp;Novo registro</a>
    </div>
    <div class="tableFixHead">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayName("Contrato")</th>
                    <th>@Html.DisplayName("Talhão")</th>
                    <th>@Html.DisplayName("Variedade")</th>
                    <th>@Html.DisplayName("Plantio")</th>
                    <th>@Html.DisplayName("Pés")</th>
                    <th>@Html.DisplayName("Ações")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (item.Ativo == true)
                        {
                            <td class="black">@Html.DisplayFor(modelItem => item.Contrato.DescricaoCompleta)</td>
                            <td class="black">@Html.DisplayFor(modelItem => item.CodigoInterno)</td>
                            <td class="black">@Html.DisplayFor(modelItem => item.Variedade.DescricaoCompleta)</td>
                            <td class="black">@Html.DisplayFor(modelItem => item.AnoPlantio)</td>
                            <td class="black">@Html.DisplayFor(modelItem => item.QuantidadePes)</td>
                            <td>
                                <a class="btn btn-blue btn-sm" asp-action="CreateOrEdit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar talhão @item.CodigoInterno"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-red btn-sm" asp-action="Disable" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Desabilitar talhão @item.CodigoInterno"><i class="fa-solid fa-thumbs-down"></i></a>
                                <a class="btn btn-green btn-sm disabled" asp-action="Enable" asp-route-id="@item.Id"><i class="fa-solid fa-thumbs-up"></i></a>
                            </td>
                        }
                        else
                        {
                            <td class="secondary">@Html.DisplayFor(modelItem => item.Contrato.DescricaoCompleta)</td>
                            <td class="secondary">@Html.DisplayFor(modelItem => item.CodigoInterno)</td>
                            <td class="secondary">@Html.DisplayFor(modelItem => item.Variedade.DescricaoCompleta)</td>
                            <td class="secondary">@Html.DisplayFor(modelItem => item.AnoPlantio)</td>
                            <td class="secondary">@Html.DisplayFor(modelItem => item.QuantidadePes)</td>
                            <td>
                                <a class="btn btn-blue btn-sm disabled" asp-action="CreateOrEdit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-red btn-sm disabled" asp-action="Disable" asp-route-id="@item.Id"><i class="fa-solid fa-thumbs-down"></i></a>
                                <a class="btn btn-green btn-sm" asp-action="Enable" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Habilitar talhão @item.CodigoInterno"><i class="fa-solid fa-thumbs-up"></i></a>
                            </td>                            
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="footer-card-pagination">
        <div class="d-flex bd-highlight">
            <div class="p-0 flex-grow-1 bd-highlight">
                <ul class="pagination pagination-sm justify-content-start secondary" style="font-size:14px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }), 
                    new PagedListRenderOptions {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Never,                        
                        DisplayLinkToNextPage = PagedListDisplayMode.Never,
				        DisplayLinkToLastPage = PagedListDisplayMode.Never,
			            DisplayLinkToIndividualPages = false,			    
                        DisplayItemSliceAndTotal = true,
                        ItemSliceAndTotalFormat = "Mostrando de {0} a {1} linha(s) de {2} registro(s) cadastrado(s)",
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                    })
                </ul>
            </div>            
            <div class="p-0 bd-highlight">
                <ul class="pagination pagination-sm justify-content-end">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page }), 
                    new PagedListRenderOptions {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
				        DisplayLinkToLastPage = PagedListDisplayMode.Always,
				        MaximumPageNumbersToDisplay = 10,
                        DisplayLinkToIndividualPages = true,
			            DisplayPageCountAndCurrentLocation = false,
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        LinkToFirstPageFormat = "««",
                        LinkToPreviousPageFormat = "«",
			            LinkToIndividualPageFormat = "{0}",
			            LinkToNextPageFormat = "»",
			            LinkToLastPageFormat = "»»",
                        /*LinkToFirstPageFormat = "Primeiro",
                        LinkToPreviousPageFormat = "Anterior",
			            LinkToIndividualPageFormat = "{0}",
			            LinkToNextPageFormat = "Próximo",
			            LinkToLastPageFormat = "Último",*/
                    })                    
                </ul>
            </div>
        </div>
    </div>
</div>