@model IEnumerable<EstimativaColheita.Models.TalhaoModel>

@{
    ViewData["Title"] = "Talhões";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Lista de talhões</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success btn-sm" asp-action="CreateOrEdit"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Novo registro</a>
    </div>
    <div class="tableFixHead">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayName("Contrato")</th>
                    <th>@Html.DisplayName("Talhão")</th>
                    <th>@Html.DisplayName("Variedade")</th>
                    <th>@Html.DisplayName("Plantio")</th>
                    <th>@Html.DisplayName("Pés")</th>
                    <th>@Html.DisplayName("Ações")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Contrato.DescricaoCompleta)</td>
                        <td>@Html.DisplayFor(modelItem => item.CodigoInterno)</td>
                        <td>@Html.DisplayFor(modelItem => item.Variedade.DescricaoCompleta)</td>
                        <td>@Html.DisplayFor(modelItem => item.AnoPlantio)</td>
                        <td>@Html.DisplayFor(modelItem => item.QuantidadePes)</td>
                        <td>
                            @if (item.Ativo == true)
                            {
                                <a class="btn btn-outline-primary btn-sm" asp-action="CreateOrEdit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar talhão">&nbsp;<i class="fa fa-pencil" aria-hidden="true">&nbsp;</i></a>
                                <a class="btn btn-outline-danger btn-sm" asp-action="Disable" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Desabilitar talhão">&nbsp;<i class="fa fa-thumbs-down" aria-hidden="true">&nbsp;</i></a>
                                <a class="btn btn-outline-dark btn-sm disabled" asp-action="Enable" asp-route-id="@item.Id">&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i></a>
                            }
                            else
                            {
                                <a class="btn btn-outline-primary btn-sm disabled" asp-action="CreateOrEdit" asp-route-id="@item.Id">&nbsp;<i class="fa fa-pencil" aria-hidden="true">&nbsp;</i></a>
                                <a class="btn btn-outline-danger btn-sm disabled" asp-action="Disable" asp-route-id="@item.Id">&nbsp;<i class="fa fa-thumbs-down" aria-hidden="true">&nbsp;</i></a>
                                <a class="btn btn-outline-dark btn-sm" asp-action="Enable" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Habilitar talhão">&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer" />
</div>