@model IEnumerable<EstimativaColheita.Models.VariedadeModel>

@{
    ViewData["Title"] = "Variedades";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Lista de variedades</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success btn-sm" asp-action="CreateOrEdit"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Novo registro</a>
        <table class="table table-sm table-hover table caption-top">
            <caption />
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CodigoInterno)</th>
                    <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CodigoInterno)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td>
                            @if (item.Ativo == true)
                            {
                                <a class="btn btn-outline-primary btn-sm" asp-action="CreateOrEdit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Editar</a>
                                <a class="btn btn-outline-danger btn-sm" asp-action="Disable" asp-route-id="@item.Id"><i class="fa fa-toggle-off" aria-hidden="true"></i>&nbsp;Desabilitar</a>
                                <a class="btn btn-outline-dark btn-sm disabled" asp-action="Enable" asp-route-id="@item.Id"><i class="fa fa-toggle-on" aria-hidden="true"></i>&nbsp;Habilitar</a>
                            }
                            else
                            {
                                <a class="btn btn-outline-primary btn-sm disabled" asp-action="CreateOrEdit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Editar</a>
                                <a class="btn btn-outline-danger btn-sm disabled" asp-action="Disable" asp-route-id="@item.Id"><i class="fa fa-toggle-off" aria-hidden="true"></i>&nbsp;Desabilitar</a>
                                <a class="btn btn-outline-dark btn-sm" asp-action="Enable" asp-route-id="@item.Id"><i class="fa fa-toggle-on" aria-hidden="true"></i>&nbsp;Habilitar</a>
                            }               
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>