@model IEnumerable<EstimativaColheita.Models.ColheitaRealizadaModel>

@{
    ViewData["Title"] = "Apontamentos";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Lista de apontamentos de campo</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success btn-sm" asp-action="Create">Novo registro</a>
        <table class="table table-sm table-hover table caption-top">
            <caption />
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataLancamento)</th>
                    <th>@Html.DisplayNameFor(model => model.Caixas)</th>
                    <th>@Html.DisplayNameFor(model => model.Contrato.DescricaoCompleta)</th>
                    <th>@Html.DisplayNameFor(model => model.Talhao.DescricaoCompleta)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DataLancamento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Caixas)</td>
                        <td>@Html.DisplayFor(modelItem => item.Contrato.DescricaoCompleta)</td>
                        <td>@Html.DisplayFor(modelItem => item.Talhao.DescricaoCompleta)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>