@model IEnumerable<EstimativaColheita.Models.MotivoAlteracaoModel>

@{
    ViewData["Title"] = "Motivos";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Lista de motivos de alteração</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success btn-sm" asp-action="CreateOrEdit">Novo registro</a>
        <table class="table table-sm table-hover table caption-top">
            <caption />
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td>
                            <div class="btn-group">
                                @if (item.Ativo == true)
                                {
                                    <a class="btn btn-outline-primary btn-sm" asp-action="CreateOrEdit" asp-route-id="@item.Id">Editar</a>
                                    <a class="btn btn-outline-danger btn-sm" asp-action="Disable" asp-route-id="@item.Id">Desabilitar</a>
                                    <a class="btn btn-outline-dark btn-sm disabled" asp-action="Enable" asp-route-id="@item.Id">Habilitar</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-primary btn-sm disabled" asp-action="CreateOrEdit" asp-route-id="@item.Id">Editar</a>
                                    <a class="btn btn-outline-danger btn-sm disabled" asp-action="Disable" asp-route-id="@item.Id">Desabilitar</a>
                                    <a class="btn btn-outline-dark btn-sm" asp-action="Enable" asp-route-id="@item.Id">Habilitar</a>
                                }                                
                            </div>                
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>