@model IEnumerable<EstimativaColheita.Models.FiscalCampoModel>

@{
    ViewData["Title"] = "Coordenadores";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Lista de coordenadores de campo</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success btn-sm" asp-action="CreateOrEdit"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Novo registro</a>
        <table class="table table-sm table-hover table caption-top">
            <caption />
            <thead>
                <tr>
                    <th>@Html.DisplayName("Código")</th>
                    <th>@Html.DisplayName("Nome")</th>
                    <th>@Html.DisplayName("Apelido")</th>
                    <th>@Html.DisplayName("Ações")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) 
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CodigoInterno)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Apelido)</td>                        
                        <td>
                            <div class="btn-group">
                                @if (item.Ativo == true)
                                {
                                    <a class="btn btn-outline-primary btn-sm" asp-action="CreateOrEdit" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar coordenador">&nbsp;<i class="fa fa-pencil" aria-hidden="true">&nbsp;</i></a>
                                    <a class="btn btn-outline-danger btn-sm" asp-action="Disable" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Desabilitar coordenador">&nbsp;<i class="fa fa-thumbs-down" aria-hidden="true">&nbsp;</i></a>
                                    <a class="btn btn-outline-dark btn-sm disabled" asp-action="Enable" asp-route-id="@item.Id">&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i></a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-primary btn-sm disabled" asp-action="CreateOrEdit" asp-route-id="@item.Id">&nbsp;<i class="fa fa-pencil" aria-hidden="true">&nbsp;</i></a>
                                    <a class="btn btn-outline-danger btn-sm disabled" asp-action="Disable" asp-route-id="@item.Id">&nbsp;<i class="fa fa-thumbs-down" aria-hidden="true">&nbsp;</i></a>
                                    <a class="btn btn-outline-dark btn-sm" asp-action="Enable" asp-route-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="top" title="Habilitar coordenador">&nbsp;<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;</i></a>
                                }
                            </div>             
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>