@model EstimativaColheita.Models.EstimativaColheitaModel

@{
    ViewData["Title"] = "Estimativas";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Detalhamento da estimativa</h6>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DataLancamento)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.DataLancamento)</dd>
            
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Caixas)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Caixas)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Encarregado.DescricaoCompleta)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Encarregado.DescricaoCompleta)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Contrato.DescricaoCompleta)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Contrato.DescricaoCompleta)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Talhao.DescricaoCompleta)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Talhao.CodigoInterno)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EstimativaMotivo.DescricaoCompleta)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.EstimativaMotivo.Descricao)</dd>

            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.TipoLancamento.DescricaoCompleta)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.TipoLancamento.Descricao)</dd>
        </dl>
        <div class="col-md-12">
            <div class="btn-group">
                <a class="btn btn-outline-secondary btn-sm" asp-action="Index"><i class="fa fa-reply" aria-hidden="true"></i>&nbsp;Voltar</a>
            </div>
        </div>
    </div>
</div>