@model IEnumerable<EstimativaColheita.Models.EstimativaColheitaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caixas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Encarregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talhao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotivoAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoLancamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caixas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encarregado.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.Propriedade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talhao.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoAlteracao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLancamento.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
