@model IEnumerable<EstimativaColheita.Models.EstimativaColheitaModel>

@{
    ViewData["Title"] = "Estimativas";
}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h6 card-title>Lista de estimativa de colheita</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success btn-sm" asp-action="Create">Novo registro</a>
        <a class="btn btn-outline-dark btn-sm" asp-area="" asp-controller="EstimativaMotivo" asp-action="Index">Motivos da estimativa</a>
        <table class="table table-sm table-hover table caption-top">
            <caption />
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataLancamento)</th>
                    <th>@Html.DisplayNameFor(model => model.Contrato.DescricaoCompleta)</th>
                    <th>@Html.DisplayNameFor(model => model.Talhao.DescricaoCompleta)</th>
                    <th>@Html.DisplayNameFor(model => model.Caixas)</th>                    
                    <th>@Html.DisplayNameFor(model => model.EstimativaMotivo.DescricaoCompleta)</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        @if (item.Caixas < 0)
                        {
                            <td style="color: red">@Html.DisplayFor(modelItem => item.DataLancamento)</td>
                            <td style="color: red">@Html.DisplayFor(modelItem => item.Contrato.DescricaoCompleta)</td>
                            <td style="color: red">@Html.DisplayFor(modelItem => item.Talhao.CodigoInterno)</td>
                            <td style="color: red">@Html.DisplayFor(modelItem => item.Caixas)</td>
                            <td style="color: red">@Html.DisplayFor(modelItem => item.EstimativaMotivo.DescricaoCompleta)</td>
                        }
                        else
                        {
                            <td style="color: green">@Html.DisplayFor(modelItem => item.DataLancamento)</td>
                            <td style="color: green">@Html.DisplayFor(modelItem => item.Contrato.DescricaoCompleta)</td>
                            <td style="color: green">@Html.DisplayFor(modelItem => item.Talhao.CodigoInterno)</td>
                            <td style="color: green">@Html.DisplayFor(modelItem => item.Caixas)</td>
                            <td style="color: green">@Html.DisplayFor(modelItem => item.EstimativaMotivo.DescricaoCompleta)</td>                        
                        }
                        <td><a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Mais detalhes</a></td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>